.buscador {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 12px;
    width: 90%;
    margin-top: 30px;
}

.buscador-input {
    flex: 1;
    padding: 10px 12px;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: var(--color-primario);
    color: white;
    font-size: 14px;
    transition: all 0.2s ease;
}

.buscador-input::placeholder {
    color: #b8b8d1;
}

.buscador-input:focus {
    background-color: #32325a;
    box-shadow: 0 0 0 2px #e9d5ff;
}

.buscador-btn {
    padding: 8px 14px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-secundario); 
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

.buscador-btn:hover {
    background-color: #a855f7;
    transform: scale(1.05);
}
